{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="flex justify-center">
  <div class="bg-zinc-800 mt-6 p-6">
    <h1 class="text-white border-b border-white text-3xl pb-3"><a href={% url 'accounts' %}>← アカウント情報</a></h1>
    <h1 class="text-white text-2xl mt-2">パスワード変更</h1>
    <form method="post">
      {% csrf_token %}
      <div>
        <p class="text-white inline-block text-xl mt-3 mb-1">現在のパスワード</p>
        {% render_field form.old_password class="inline-block rounded-lg w-full focus:outline-none focus:border focus:border-blue-700 focus:ring focus:ring-blue-700 p-1" %}
      </div>
      <div>
        <p class="text-white inline-block text-xl mt-3 mb-1">新しいパスワード</p>
        {% render_field form.new_password1 class="inline-block rounded-lg w-full focus:outline-none focus:border focus:border-blue-700 focus:ring focus:ring-blue-700 p-1" %}
        
        <p class="text-white">※最低8文字、数字のみは不可</p>
      </div>
      <div>
        <p class="text-white inline-block text-xl mt-3 mb-1">新しいパスワード（確認用）</p>
        {% render_field form.new_password2 class="inline-block rounded-lg w-full focus:outline-none focus:border focus:border-blue-700 focus:ring focus:ring-blue-700 p-1" %}
      </div>
      <div><button type="submit" class="text-white bg-blue-700 px-4 py-2 text-2xl mt-5 rounded-md">パスワードを変更</button></div>
    </form>
  </div>
</div>
{% endblock %} 