{% extends "base.html" %}
{% block content %}
<div class="flex justify-center">
  <div class="bg-white rounded-lg shadow-lg mt-6 px-6 py-4 text-xl">
    <p>入力いただいたメールアドレス宛てに、パスワード再設定用のメールを送信致しました。</p>
    <p class="mt-2">メールに記載されているリンクから、パスワードの再設定を行ってください。</p>
    <p class="mt-2 border-t border-black pt-4">
      ※メールが届かない場合は、迷惑メールフォルダを一度ご確認頂いたうえで、<a href={% url 'password_reset' %} class="text-blue-700 hover:text-blue-900 hover:underline">こちら</a>からパスワードの再送信を行って下さい。
    </p>
  </div> 
</div> 
{% endblock %}