{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="flex justify-center">
  <div class="bg-white p-4 mt-6 rounded-lg shadow-lg">
    <p class="border-b border-black text-3xl pb-1"><a href="{% url 'login' %}">← ログイン画面に戻る</a></p>
    <h1 class="text-2xl mt-3">パスワードの再設定</h1>
    <p>ご登録頂いたメールアドレス宛てにパスワード再設定用のメールを送信いたします。</p>
    <form>
      {% csrf_token %}
      <p class="text-xl mt-4">メールアドレス</p>
      {% render_field form.email placeholder="メールアドレスを入力してください" class="mt-1 w-full pl-3 py-2 border border-gray-400 rounded-md shadow-md focus:outline-none focus:border focus:border-blue-700 focus:ring-1 focus:ring-blue-700"%}
      <div><button type="submit" class="bg-blue-700 hover:to-blue-800 text-white text-2xl rounded-md shadow-xl px-3 py-2 mt-4">送信</button></div>
    </form>
  </div>
</div>
{% endblock %}
