<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, iitial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <header>
      <nav class="flex justify-between bg-zinc-800 w-full text-white h-20 items-center">
        <h1 class="m-10 text-4xl">ブログ</h1> 
        <ul class="flex space-x-7 m-10 text-2xl items-center">
          <li class="hover:underline transition"><a href="{% url 'index' %}">投稿一覧</a></li>
          <li class="hover:underline transition"><a href="{% url 'create' %}">新規投稿</a></li>
          <li class="hover:underline transition bg-blue-700 px-3 py-2 rounded-lg"><a href="{% url 'login' %}">ログイン/新規登録</a></li>
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="text-center text-gray-800 border-t-2 pt-3 mt-8 mx-8">
      <p>©︎2023</p>
      <p>DjangoLover</p>
      <a href="https://github.com/no-commit-message" target="_blank" rel="noopener noreferrer" class="hover:underline transition">
        GitHub: no-commit-message
      </a>
    </footer>
  </body>
</html>